/* @import "./normalize.css"; */
* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    /* color: #626365; */

}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.nav {
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;

    
}